footer {
    background-color: #F0F0F0;
    color: #0a0a0a;
    text-align: center;
    padding: 20px;
    width: 100%;
    position: relative; 
    left: 0;
    bottom: 0;
    margin-top: 20px;
    align-items: stretch;
}


footer nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer nav a:hover {
    text-decoration: underline;
}
