.header {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    padding: 10px;
    background-image: url('https://www.doodycalls.com/cms/thumbnails/24/1060x560/images/articles/DC_July10_PlayfulDogs_BlogHeader.2306281318556.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: rgb(228, 225, 225);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 230px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.title {
    font-size: 70px;
    color: #c26b1e;
    text-align: center;
    margin-top: -130px;
    text-shadow: 2px 2px 4px rgb(235, 178, 110);
    width: 100%; 
    display: flex;
    justify-content: center; 
}


.logo {
    position: absolute;
    right: 20px;
    top: 20px;
    margin-right: 20px;
    height: 60px;
    width: auto;  
    border-radius: 50%;
}
