.welcome-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Matchar dog-catalog__container */
.welcome-container {
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  padding-top: 260px;
  max-width: 1200px;
  width: 100%;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  flex: 1;
}

.welcome-title {
  color: #d9863d;
  font-size: 48px;
  text-align: center;
  margin-top: 0;
}

.welcome-text {
  color: #555555;
  font-size: 20px;
  text-align: center;
}

.welcome-nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.nav-link {
  text-decoration: none;
  color: #4CAF50;
  font-size: 17px;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #1f7021;
}

.welcome-image {
  width: 100%;
  max-width: 800px;
  height: auto;
  display: block;
  margin: 1rem auto;
}
